.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: 0;
    outline: none;
    background: none;
}

.outline {
    padding: 15px;
    background: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}
